# Config files
####

# Default config file
config.txt
# Extension for alternate config files
*.json

# Development
####

# Python bytecode
*.pyc
# Virtual Environment
venv
# JetBrains IDE Project files
.idea
